<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "fonts/chrystal/stylesheet.css"}}">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <header>
        <div class="header__text">
            <a href="http://chrystalgriffiths.com"><img src="{{asset "images/chrystal.png"}}"></a>
        </div>       
    </header>

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a>&#59; lessons from a trying developer, test change &copy; {{date format="YYYY"}}</section>         
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    {{! They put their scripts here so if you need JS for chrystal, put it here}}
</body>
</html>
